.js-numberbutton {
    background-color: white;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-right: 5px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    transition: opacity 0.15s;
}

.js-numberbutton:hover {
    opacity: 0.8;
}

.js-numberbutton:active {
    opacity: 0.5;
}

.js-symbolbutton {
    background-color: rgb(254, 160, 10);
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-right: 5px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    transition: opacity 0.15s;
}

.js-symbolbutton:hover {
    opacity: 0.8;
}

.js-symbolbutton:active {
    opacity: 0.5;
}

.js-exponentbutton {
    background-color: rgb(254, 160, 10);
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-right: 5px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    transition: opacity 0.15s;
}

.js-exponentbutton:hover {
    opacity: 0.8;
}

.js-exponentbutton:active {
    opacity: 0.5;
}

.y {
    font-size: 17px;
    font-weight: bold;
}

.Clear-button {
    font-size: 17px;
}

.js-calculation {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
}

body {
    font-family: 'Aldrich', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

.title {
    font-weight: bold;
    margin-left: 350px;
}